#root { 
  isolation: isolate;
  
  --fs-xl: clamp(1.4rem, 3.5vw + 1rem, 3rem);
  --fs-brand: clamp(1.3rem, 2.2vw + 1rem, 1.6rem);
  --fs-l: clamp(1.2rem, 1.5vw + 1rem, 1.5rem);
  --fs-m: clamp(1rem, 1.2vw + .5rem, 1.5rem);
  --fs-s: clamp(.95rem, .8vw + .5rem, 1rem);
  --fs-xs: clamp(.75rem, 0.5vw + .5rem, .8rem);

  font-size: var(--fs-s);
}

:root{
  --bg:#0b0d11;     
  --panel:#11151a;      
  --edge:#1b2230;       
  --text:#e9ecf1;       
  --muted:#ffffff;       
  --blue:#3b82f6;        
  --violet:#7e6fff;
  --header: #f4f5ff;
  --urlColour: #7aacfdff;
  --accent: linear-gradient(90deg, var(--violet), var(--blue));
  --radius:14px;
  --shadow:0 10px 30px rgba(0,0,0,.45);
}

html{
  height: 100lvh;
  scroll-behavior:smooth;
}

body{
  height: 100lvh;
  margin:0;
  font-family:Inter,system-ui,Segoe UI,Roboto,Arial,sans-serif;
  color:var(--text);
  background: radial-gradient(1200px 800px at 70% -10%, #122241 0%, transparent 60%), var(--bg);
}

html, body {
  /* For Firefox */
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


a{color:inherit;text-decoration:none}
button{font:inherit}

.container{
  width:min(1140px,92dvw);
}

.glass{
  background:linear-gradient(180deg, rgba(255,255,255,.06), rgba(255,255,255,.03));
  backdrop-filter: blur(10px);
  border:1px solid rgba(255,255,255,.06);
  border-radius:var(--radius);
}

.card{
  background:linear-gradient(180deg, rgba(255,255,255,.04), rgba(255,255,255,.02));
  border:1px solid rgba(255,255,255,.07);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
}

.chip{
  display:inline-flex;align-items:center;gap:.5rem;
  padding:.3rem .5rem;border-radius:999px;
  border:1px solid var(--edge);
  background:rgba(255,255,255,.04);
  font-size:var(--fs-xs);
  color:var(--text);
  white-space:nowrap;
}

.chip:hover{
  background:rgba(255, 255, 255, 0.123); color:white
}

.section{
  scroll-margin-top:110px;
}

strong{
  color: var(--text);
  font-weight: 700;
}

.text-color{
  color:var(--text)
}

.h1{
  font-size:var(--fs-xl);
  line-height:1.1;
  letter-spacing:-.01em;
  font-weight:800;
  color:var(--text)
}

.h2{
  font-size:var(--fs-l);
  line-height:1.2;font-weight:700;margin:0 0 .75rem 0;
  color:var(--text);
}

.h3{
  font-size:var(--fs-m);
  line-height:1.2;font-weight:700;margin:0 0 .75rem 0;
  color:var(--text);
}

.p{
  color:var(--muted);
  font-size:var(--fs-s);
  line-height:1.65}

.p.p-m{
  font-size:var(--fs-m);
}

.btn{
  font-size: var(--fs-s);
  display:inline-flex;align-items:center;gap:.6rem;
  padding:.7rem 1rem;border-radius:12px;
  opacity:.9; padding:.3rem .8rem;border-radius:10px;
  color:white;
  transition:0.3s;
}
.btn:hover{background:rgba(255, 255, 255, 0.123); color:white}
.btn:active{color:white !important}
.btn-group.btn:active{color:white}
.btn.primary{background:var(--accent);color:white;border:none}
.btn.primary:hover{transform: translateY(-3px)}

.nav{
  position:sticky;top:0;z-index:50;
  padding:.6rem 0;margin:0;
}
.nav-inner{
  display:flex;align-items:center;justify-content:space-between;
  padding:.5rem .8rem;
}
.nav-links{
  display:flex;gap:.2rem;flex-wrap:wrap;;
}
.nav a{opacity:.9;padding:.3rem .8rem;border-radius:10px}
.nav a:hover{background:rgba(255, 255, 255, 0.123)}
.nav a:hover.btn.primary{transform: translateY(-2px);background:var(--accent);color:white;border:white}

.kbd{
  font-family:"JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  color:var(--text);
}

.kbd.kbd-xs{
  font-size:var(--fs-xs);
}

.kbd.kbd-s{
  font-size:var(--fs-s);
}

.kbd.kbd-m{
  font-size:var(--fs-m);
}

.kbd.kbd-l{
  font-size:var(--fs-l);
}

.kbd.kbd-xl{
  font-size:var(--fs-xl);
}

hr.sep{
  border:0;height:3px;background:linear-gradient(90deg, transparent, white, transparent);
  margin-bottom:16px 0;
}

/* tiny scroll progress bar */
.progress{
  position:fixed;top:0;left:0;height:9px;width:100%;z-index:60;pointer-events:none;
  background:linear-gradient(90deg, var(--violet), var(--blue));
  transform-origin:0 0; transform:scaleX(0);
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  gap: 1rem
}
.masonry-grid_column {
  background-clip: padding-box;
}

.masonry-grid_column > div { 
  margin-bottom: 20px;
}

.card a {
  color: var(--urlColour);
}

a.url{
  color: var(--urlColour);
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
  padding-top: 56.25%; 
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.selected {
  background-color: #3df881 !important;
  color: rgb(26, 26, 26) !important;
  font-weight: 501;
}
